@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --primary-color: #ffffff;
    --primary-bg-color: #fafafa;
    --text-color: #000000;
    --box-shadow: rgba(0, 0, 0, 0.2);
}

.darkmode {
    --primary-color: #2b3945;
    --primary-bg-color: #202c37;
    --text-color: #ffffff;
    --box-shadow: rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* height: 100%; */
    /* width: 100%; */
    font-family: 'Nunito', sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    transition: background-color 0.5s ease-in;
}

#wrapper {
    height: 100%;
    /* overflow-x: hidden; */
    /* background-color: rgb(222, 221, 221); */
}

header {
    padding: 10px 20px;
    box-shadow: 0 0 4px 0 var(--box-shadow);
    margin-bottom: 4px;
    background-color: var(--primary-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(251, 219, 219); */
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-weight: 800;
}

.theme-switch {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.theme-switch .second-icon {
    display: none;
}

.darkmode .first-icon {
    display: none;
}

.darkmode  .second-icon{
    display: block;
}

.theme-switch span {
    font-weight: 600;
}

main {
    padding: 20px;
    min-height: calc(100vh - 56.67px);
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

.countries-container {
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    gap: 64px;
    justify-content: space-between; */
    /* background-color: rgb(251, 219, 219); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 64px;
}

.card {
    /* width: 250px; */
    border-radius: 8px;
    box-shadow: 0 0 4px 0px var(--box-shadow);
    overflow: hidden;
    background-color: var(--primary-color);
    text-decoration-line: none;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px 0px var(--box-shadow);
}

.card img {
    width: 100%;
    height: 178px;
}

.country-info {
    padding: 20px;
}

.country-info h3 {
    font-size: 1.15rem;
    padding-bottom: 20px;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: .85rem;
}

.text-box p {
    font-weight: 300;
}

.text-box p b {
    /* color: red; */
    font-weight: 700;
}

.search-container {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    margin-top: 20px;
    margin-bottom: 40px;
}

.search-by-name {
    display: flex;
    width: 250px;
    /* background-color: greenyellow; */
    padding: 5px 10px;
    align-items: center;
    box-shadow: 0 0 4px 0 var(--box-shadow);
    border-radius: 4px;
    background-color: var(--primary-color);
    overflow: hidden;
}

.search-by-name i {
    font-size: 16px;
    color: #a7a7a7;
}

.search-by-name input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px 0 10px 10px;
    background-color: inherit;
    color: var(--text-color);
}

.search-by-name input::placeholder {
    color: #a7a7a7;
}

#search-by-region {
    /* background-color: greenyellow; */
    /* -webkit-column-gap: rem; */
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    box-shadow: 0 0 4px 0 var(--box-shadow);
    border-radius: 4px;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--primary-color);
}

@media (max-width: 1030px) {
    .countries-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }
}

@media (max-width: 650px) {
    .countries-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .search-by-name {
        width: 280px;
    }
}

@media (max-width: 520px) {
    .countries-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .title {
        font-size: 18px;
    }

    header p {
        font-size: 12px;
    }
}

@media (max-width: 465px) {
    .search-container {
        flex-direction: column;
        gap: 10px;
    }
    #search-by-region {
        width: fit-content;
        height: 48.67px;
    }
}